.header {
  background-color: var(--primaryBorderBg);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.header__logo {
  font-size: 30px;
  color: var(--primaryTheme);
  font-weight: 600;
}

.header__button {
  display: flex;
  padding: 0 15px;
  background: var(--primaryBorderBg);
  color: var(--primaryTheme);
  line-height: 24px;
  border: none;
}

.span-header{
  font-size: 15px !important;
}
.svg-icon{
  font-size: 15px !important;
  margin-top: 4px !important;
}

@media only screen and (max-width: 520px) {
  p{
    font-size: 20px !important;
  }
}