@import url('(https://fonts.google.com/specimen/Nunito+Sans)');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Nunito, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--primaryBg);
    color: var(--primaryText);  
}

input, select {
    font: 600 14px Nunito, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--primaryText);
}